.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: var(--border-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--special-text-color);
}

.App-link {
  color: #09d3ac;
}

:root {
  color-scheme: light dark;
  --special-text-color: hsla(207, 100%, 50%, 0.685);
  --border-color: white;
  --svg-fill-color: white;
}

@media (prefers-color-scheme: dark) {
  :root {
      --special-text-color: hsla(0, 97%, 86%, 0.75);
      --border-color: black;
  }
}

.special {
  color: var(--special-text-color);
  border: 1px solid var(--border-color);
}
